timelabel > label {
  font-weight: 500;
  font-variant-numeric: tabular-nums;
}

scale.progress > trough {
  min-height: 0.9rem;
  border-radius: 0.25rem;
}

scale.progress > trough > slider {
  opacity: 0;
}

scale.progress > trough > highlight {
  border-radius: 0;
}

overlay > revealer > * {
  min-height: 4rem;
  border-radius: 0.5rem;
  margin: 0.8rem;
}

overlay > revealer * .title {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0rem 1rem;
}

overlay > revealer * button {
  -gtk-icon-size: 2rem;
  margin: 0.5rem;
}

overlay > revealer * timelabel > label {
  font-size: 1.5rem;
  font-weight: 550;
}

overlay > revealer * scale.progress > trough {
  min-height: 1.5rem;
  border-radius: 0.4rem;
}
