.video {
  background: black;
}

mediacontrols,
playerview headerbar {
  background-color: @headerbar_bg_color;
}

playerview > revealer.top {
  box-shadow: 0 1px @headerbar_darker_shade_color;
}

playerview > revealer.bottom {
  box-shadow: 0 -1px @headerbar_darker_shade_color;
}

.fullscreen playerview > revealer.top,
.fullscreen playerview > revealer.bottom {
  box-shadow: none;
}

timelabel > label {
  font-weight: 500;
  font-variant-numeric: tabular-nums;
}

.progressbar {
  padding-top: 0;
  padding-bottom: 0;
}

.progressbar trough {
  min-height: 0.9rem;
  border-radius: 0.25rem;
}

.progressbar slider {
  opacity: 0;
}

.progressbar highlight {
  border-radius: 0;
}

.fullscreen playerview headerbar,
.fullscreen playerview mediacontrols {
  opacity: 0.96;
  min-height: 4rem;
  box-shadow: 0 0 0 1px @headerbar_darker_shade_color;
  border-radius: 0.5rem;
  margin: 0.8rem;
}

.fullscreen playerview windowtitle {
  padding: 0.5rem;
}

.fullscreen playerview windowtitle .title {
  font-size: 1.45rem;
}

.fullscreen playerview windowtitle .subtitle {
  font-size: 1.15rem;
}

.fullscreen playerview mediacontrols > box > box > button,
.fullscreen playerview volumebutton,
.fullscreen playerview menubutton {
  -gtk-icon-size: 1.7rem;
  margin: 0.5rem;
}

.fullscreen playerview timelabel > label {
  font-size: 1.5rem;
  font-weight: 550;
}

.fullscreen playerview .progressbar trough {
  min-height: 1.5rem;
  border-radius: 0.4rem;
}
